body
{
  background-color: wheat;
}

.content
{
  height: 50vh;
  background-color: lightgray;
}

.container
{
  background-color: beige;
}


.pandersail img {
    height: 12%;
    width: 12%;
  }

.icons {
    height: 30px;
}
  

  /* Footer */
  
  /* Bootstrap code */
  
  
  /* Bootstrap code */
  