body
{
  background-color: wheat;
}

.content
{
  height: 50vh;
  background-color: lightgray;
}

.container
{
  background-color: beige;
}


.pandersail img {
    height: 12%;
    width: 12%;
  }

.pandersail-two {
    height: 12%;
    width: 12%;
}
  

  /* Footer */
  
  /* Bootstrap code */
  #Contact-me {
    display: flex;
    flex-wrap: wrap;
    background-color: #2B3A55;
    justify-content: flex-start;
    align-items: center;
    color: #efddc8;
    border-radius: 0px;
    background: linear-gradient(145deg, #27344d, #2e3e5b);
    box-shadow:  5px 5px 10px #111722,
               -5px -5px 10px #455d88;
  }
  
  #Contact-me h4 {
    font-size: 2vw;
    font-size: 4vh;
    padding-left: 10%;;
    padding-right: 2%;
    border-radius: 0px 25px 25px 0px;
  background: linear-gradient(145deg, #27344d, #2e3e5b);
  box-shadow:  5px 5px 10px #111722,
               -5px -5px 10px #455d88;
  }
  
  #Contact-me li,
  #Contact-me p {
    font-size: 1vw;
    font-size: 2vh;
    list-style-type: none;
  }
  
  .profile {
    width: 25vw;
    height: auto;
    border-radius: 23%;
    margin-left: 3%;
    background: linear-gradient(145deg, #27344d, #2e3e5b);
  box-shadow:  0px 0px 5px #111722,
               0px 0px 5px #111722;
  }
  
  #Contact-me p {
    padding-top: 5%;
    padding-left: 5%;
    align-self: auto;
  }
  
  #Contact-me li {
    padding: 15px 0px 15px 45px;
  }

  /* Bootstrap code */
  #Contact-me {
    display: flex;
    flex-wrap: wrap;
    background-color: #2B3A55;
    justify-content: flex-start;
    align-items: center;
    color: #efddc8;
    border-radius: 0px;
    background: linear-gradient(145deg, #27344d, #2e3e5b);
    box-shadow:  5px 5px 10px #111722,
               -5px -5px 10px #455d88;
  }
  
  #Contact-me h4 {
    font-size: 2vw;
    font-size: 4vh;
    padding-left: 10%;;
    padding-right: 2%;
    border-radius: 0px 25px 25px 0px;
  background: linear-gradient(145deg, #27344d, #2e3e5b);
  box-shadow:  5px 5px 10px #111722,
               -5px -5px 10px #455d88;
  }
  
  #Contact-me li,
  #Contact-me p {
    font-size: 1vw;
    font-size: 2vh;
    list-style-type: none;
  }
  
  .profile {
    width: 25vw;
    height: auto;
    border-radius: 23%;
    margin-left: 3%;
    background: linear-gradient(145deg, #27344d, #2e3e5b);
  box-shadow:  0px 0px 5px #111722,
               0px 0px 5px #111722;
  }
  
  #Contact-me p {
    padding-top: 5%;
    padding-left: 5%;
    align-self: auto;
  }
  
  #Contact-me li {
    padding: 15px 0px 15px 45px;
  }

  /* Bootstrap code */
  #Contact-me {
    display: flex;
    flex-wrap: wrap;
    background-color: #2B3A55;
    justify-content: flex-start;
    align-items: center;
    color: #efddc8;
    border-radius: 0px;
    background: linear-gradient(145deg, #27344d, #2e3e5b);
    box-shadow:  5px 5px 10px #111722,
               -5px -5px 10px #455d88;
  }
  
  #Contact-me h4 {
    font-size: 2vw;
    font-size: 4vh;
    padding-left: 10%;;
    padding-right: 2%;
    border-radius: 0px 25px 25px 0px;
  background: linear-gradient(145deg, #27344d, #2e3e5b);
  box-shadow:  5px 5px 10px #111722,
               -5px -5px 10px #455d88;
  }
  
  #Contact-me li,
  #Contact-me p {
    font-size: 1vw;
    font-size: 2vh;
    list-style-type: none;
  }
  
  .profile {
    width: 25vw;
    height: auto;
    border-radius: 23%;
    margin-left: 3%;
    background: linear-gradient(145deg, #27344d, #2e3e5b);
  box-shadow:  0px 0px 5px #111722,
               0px 0px 5px #111722;
  }
  
  #Contact-me p {
    padding-top: 5%;
    padding-left: 5%;
    align-self: auto;
  }
  
  #Contact-me li {
    padding: 15px 0px 15px 45px;
  }

  /* Bootstrap code */
  